<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this customer information ? ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirmBtn">OK</button>
        </div>
      </div>
    </div>
</div>

<div class="cus_update_popup">
    <div class="cus_update_popup-content">
        <h3 align="center">Update Customer Informations</h3>
        <form action="{% url 'update_cus' pk %}" method="POST">
            {% csrf_token %}
            <button type="button" class="close" aria-label="Close" id="close_bt_4"><span aria-hidden="true">&times;</span></button>     
            {% for field in form_order %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="SAVE" class="btn btn-primary btn-sm btn-block">
        </form>
    </div>
</div>