{% extends 'accounts/main.html' %}

{% block content %}
{% load static %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products: <button class="btn btn-sm btn-info" align="right" id="create_pro">Add New Product</button></h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Products</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>

                {% for i in products %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.category}}</td>
                        <td>{{i.price}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% include 'accounts/product_forms.html' %}
<script src="{% static 'js/script_product.js' %}"></script>

{% endblock %}